html { 
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	background-image: url(/media_files/images/ocean_tile_dither.png);
	animation: flow-bg 30s linear infinite;
	height: 100%;
}

table {
	border-collapse: collapse;
	margin: 0;
    font-family: Courier;
}

th {
	padding: 3pt;
	font-size: 14pt;
}
td {
	padding: 3pt 1em 3pt 1em;
	text-align: center;
}

.contents {
	max-width: 700px;
	padding: 2em 0 2em 0;
	text-align: center;
	margin: 4em auto;
	background-color: rgba(0, 0, 0, 1);
	border: 2px solid #081c3f;
	z-index: 1;
}

.text {
	color: white;
	line-height: 2;
	font-family: Courier;
	font-size: 14pt;
}

.styled-button {
	background-color: #081c3f;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	font-size: 12pt;
	font-family: Courier;
	margin-top: 3pt;
	margin-left: 2em;
	margin-right: 2em;
}

button:hover { background-color: rgb(120, 6, 6) !important; }

@keyframes flow-bg {
	100% { background-position: -1916px 988px; }
}

#keyboard-shortcuts {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	color: white;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 1300px) {
	#keyboard-shortcuts { display: none; }
}

@media only screen and (min-width: 1301px) {
	#update-menu {
		position: absolute;
		top: 0;
		right: 0;
	}
}

#update-menu {
	font-family: Courier;
	font-size: 12pt;
	color: white;
	position: absolute;
	margin-bottom: 1em;
}

#contact {
	position: fixed;
	background-color: rgb(0, 0, 0);
	font-weight: bold;
	left: 0;
	bottom: 0;
	margin: 0;
	width: 100%;
	border-top: 2px solid #081c3f;
}

#enable-js {
	font-size: 30pt;
	color: white;
	font-family: Courier;
	padding-left: 5pt;
}

#spacer {
	padding: 8pt;
}

button { font-weight: bold; }

img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

a { 
	text-decoration: none; 
	color: white;
}

a:hover {
	color: rgb(120, 6, 6);
}