html {
	margin:0;
	height:100%;
}

body {
	margin:0;
	width: 100%;
	height: 100%;
	display: table;
	background-image: url(/media_files/images/ocean_tile_dither.png);
	animation: flow-bg 30s linear infinite;
}

table {
	border-collapse: collapse;
	margin: 0.5em;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

th {
	text-align: left;
	padding-left: 1em;
	padding-top: 3pt;
	padding-right: 1em;
}
td { 
	padding: 3pt; 
	padding-left: 1em;
	padding-right: 1em;
}

thead {
	font-size: 14pt;
}

.contents {
	max-width: 700px;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	margin: 4em auto;
	background-color: rgba(0, 0, 0, 1);
	border: 2px solid #1b2c4c;
}

.text {
	color: white;
	line-height: 2;
	font-family: Courier;
	font-size: 14pt;
}

.styled-button {
	background-color: #1b2c4c;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	font-size: 12pt;
	font-family: Courier;
	margin-top: 3pt;
	margin-left: 2em;
	margin-right: 2em;
}

button:hover { background-color: rgb(120, 6, 6) !important; }

@keyframes flow-bg {
	100% { background-position: -1916px 988px; }
}

#keyboard-shortcuts {
	position: absolute;
    color: white;
    font-family: Courier;
    font-size: 12pt;
	min-width: 400px;
    left: 0;
    top: 0;
}

#update-menu {
    position: absolute;
    color: white;
    font-family: Courier;
    font-size: 12pt;
    padding: 1pt 1em 1pt 1em;
    left: 0;
    bottom: 0;
}

#contact {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	font-family: Courier;
	font-size: 12pt;
	font-weight: bold;
	padding: 0.5em 1em 0.5em 1em;
	right: 0;
	bottom: 0;
	margin: 0.5em;
	border-radius: 10px;
}

button { font-weight: bold; }

a { 
	text-decoration: none; 
	color: white;
}

a:hover {
	color: rgb(120, 6, 6);
}