html, body {
	padding: 0;
	margin: 0;
}
html { height: 100%; }

body {
	min-height: 100%;
	font-size: 62.5%;
	display: flex;
	flex-direction: column;
}

.contents {
	max-width: 630px;
	width: 100%;
	text-align: center;
	margin: 10% auto 2em auto;
	background-color: rgba(0, 0, 0, 1);
	border: 2px solid;
	position: relative;
	display: block;
}

.text {
	color: white;
	max-width: 85%;
	text-align: left;
	margin: auto;
	line-height: 1.7;
	font-family: 'Courier New', Courier, monospace;
	font-size: 13pt;
}

@media only screen and (max-width: 628px) {
	.contents { border-style: solid none;} 
}

@font-face {
	font-family: super-retro;
	src: url(/fonts/Web437_ATT_PC6300.woff);
}

#popup {
	font-family: super-retro;
	color: white;
	font-size: 25pt;
	text-align: center;
	padding-top: 5pt;
	animation: 1s fade-in-out linear;
	margin: 0 auto auto auto;
}

@keyframes fade-in-out {
	0% { opacity: 0; }
	15% { opacity: 1; }
	85% { opacity: 1; }
	100% { opacity: 0; }
}

.styled-button {
	border: none;
	padding: 10px 20px;
	text-align: center;
	font-size: 12pt;
	margin: 0 2em 0 2em;
}

button:active { background-color: rgb(120, 6, 6) !important; }
button { 
	font-weight: bold;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

@media (hover: hover) { 
	button:hover { background-color: rgb(120, 6, 6) !important; }
}

.cookie-button {
	border: none;
	padding: 5px 10px;
	text-align: center;
	font-size: 12pt;
}

#save-button {
	position: absolute;
	left: 0;
	top: 0;
}
#load-button {
	position: absolute;
	right: 0;
	top: 0;
}
#main-button, #button-two {
	margin-bottom: 1.2em;
}

#last-update {
	font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 12pt;
    left: 0;
    top: 0;
}

#back-button {
	margin: auto auto 0 0;
	position: relative;
}

p { 
	display: none;
	margin: 1em
}

.hidden { display: none; }

img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	margin-top: 2.8em;
}

a:visited, a:active, a:link {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	color: #FF0000;
}